* {
    box-sizing: border-box;
}

body {
        margin: 0 auto;
        width: 1403px;
		height: 742px;
		max-width: 100%;
        max-height: 100%;
}
    .app {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .contactForm {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;

            input {
                border-radius: 5px;
                padding: 5px;

            }
            button {
                border-radius: 5px;
                margin-left: 10px;
                padding: 5px;
                background-color: #4CAF50;
            }
        }

        .contactsList {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            //justify-content: center;
           
            .contactItem {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                img {
                    width: 108px;
                    height: 75px;
                }
            }
        }
    }
